.hero {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 3.5em 2em;
    position: relative;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .7);
    z-index: -1;
}

.hero__heading {
    font-size: 4rem;
    color: white;
    line-height: 100%;
}

.hero__text {
    margin-top: .75em;
    font-size: 1.7rem;
    color: white;
    line-height: 1.6;
    max-width: 50ch;
}

.hero__button {
    margin-top: .6em;
    font-size: 2rem;
    color: white;
    font-weight: 500;
    padding: .3em .8em;
    background-color: var(--primary);
    transition: var(--transition);
    border: none;
    border-radius: 150px;
    cursor: pointer;
}

.hero__button:hover,
.hero__button:focus {
    background-color: var(--primary-hover);
}

@media(max-width:500px) {
    .hero {
        padding: 3em 1em;
    }

    .hero__heading {
        font-size: 3.2rem;
    }

    .hero__text {
        font-size: 1.4rem;
    }

    .hero__button {
        font-size: 1.5rem;
    }
}