.section {
    padding: 2em;
}

.section__heading {
    font-size: 3rem;
}

.section__content {
    display: flex;
    align-items: center;
    column-gap: 2em;
    row-gap: 3em;
    flex-wrap: wrap;
    margin-top: 2em;
}

@media(max-width:500px) {
    .section {
        padding: 1.7em;
    }

    .section__heading {
        font-size: 2.3rem;
    }
}