.section {
    margin-top: 5em;
    padding: 2em;
}

.section__heading {
    font-size: 3.5rem;
    text-align: center;
}

.section__questions {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 70%;
    gap: 2em;
}

@media(max-width:1000px) {
    .section {
        padding: 1em;
    }

    .section__questions {
        width: 100%;
    }
}