@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --primary: #0400FF;
  --primary-hover: #0300EE;
  --secondary: #FFD200;
  --secondary-hover: #EEC200;
  --black: #131323;
  --black-65: rgba(20, 20, 36, .65);

  /* font */
  --font: 'Roboto', sans-serif;

  /* transition */
  --transition: all 200ms ease;
}

body {
  font-family: var(--font);
  color: var(--black);
}

button,
a,
input,
textarea,
select {
  font-family: inherit;
}