.popup {
    font-size: 2.8rem;
    width: fit-content;
    padding: .8em;
    color: #FFF;
    font-weight: bold;
    border-radius: 40px;
    position: fixed;
    top: 1em;
    right: 1em;
    transform: translateX(200%);
    transition: var(--transition);
    z-index: 1000000;
}

.popup_active {
    transform: translateX(0);
}

@media(max-width:680px) {
    .popup {
        font-size: 2.3rem;
        top: .25em;
        right: .25em;
    }
}